
<ul><table><h3 style="color: red"><br><ul><ul>Reset your password</ul></ul></h3>

  <td width="700cm" style="vertical-align: top;">
    <br><ul><ul><h5>Enter a new passwordfor your account. We highly <br>recommend you to create a unique password
     - one that you<br>don't use for any other websites.<br><br><br>
    Note: You can't reuse your old password once you change<br>it.<br><br><br>
    <a href="https://support.google.com/accounts/answer/32040?visit_id=1-636231973722864833-269686299&p=pw_dont_reuse&hl=en-GB&rd=1">Learn more about choosing a smart password</a>
    <br><br>
  </h5></ul></ul></td>

    <div style="float: right">
  <ul>
  <td>
    <%= bootstrap_form_for(@hack) do |f| %>


        <span class="list-group-item" style="width: 10cm;height: 12.5cm;background-color: #EFEFEF" >
          <br>
    <div class="field">
      <%#= f.label :Current_password  %>
      <%= f.password_field :Current_password, :class=>"form-control" ,:id=>"exampleInputPassword1"%>
    </div>
    <div class="field">
      <a href="https://accounts.google.com/signin/usernamerecovery?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&ss=1&scc=1&rm=false&osid=1&hl=en-GB">Don't know your password?</a>
    </div>
<br>

  <div class="field">
    <%#= f.label :New_password %>
    <%= f.password_field :New_password ,:id=>"password",:oninput=>"c()",:class=>"form-control" %>
    <% if @minimum_password_length %>
       <em style="color: red" id = 'pass4' ></em> <em style="color: green" id = 'pass5'></em>
    <% end %><br />
  </div>

<br>
  <div class="field">
    <%#= f.label :Confirm_new_password %>
    <%= f.password_field :Confirm_new_password, :class=>"form-control" ,:oninput=>"check()",:id=>"password_confirmation" %>
    <em style="color: red" id = 'pass2' ></em>   <em style="color: green" id = 'pass3'></em>
  </div>

<br><br>
  <div class="actions">
    <%= f.button 'Change Password',class: "btn btn-primary",autocomplete: "off"%>
    <%= button_tag 'Cancel',class: "btn btn-default",url:'google.com'  %>
  </div>
</span>
<% end %>
    </ul> </div></table></ul>


<%# *************************************Script here********************************* %>
<script language='javascript' type='text/javascript'>
  function check() {
    var pass2= document.getElementById("pass2");
    var pass3= document.getElementById("pass3");
    var pass= document.getElementById("password").value;
    var pass1= document.getElementById("password_confirmation").value;
    if (pass == pass1) {
      pass2.style.display='none';
      pass3.style.display='';
      pass3.innerHTML = 'Password matches';
    }
    else {
      // input is valid -- reset the error message
      pass3.style.display='none';
      pass2.style.display='';
      pass2.innerHTML = 'Password does not matches';
    }

  }

</script>
<script language='javascript' type='text/javascript'>
  function c() {
    var pass5= document.getElementById("pass5");
    var pass4= document.getElementById("pass4");
    var pass= document.getElementById("password").value;
    var j= document.getElementById("password_confirmation");
    if (pass.length < 6) {
      pass5.style.display='none';
      pass4.style.display='';
      pass4.innerHTML = 'Password should not be less than 6 characters';
      j.disabled = true;
    }
    else {
      // input is valid -- reset the error message
      pass4.style.display='none';
      pass5.style.display='';
      pass5.innerHTML = 'Your password length is ok now';
      j.disabled = false;
    }

  }

</script>